{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tracker</title>

  <!-- Bootstrap core CSS -->
  <link href={% static "css/bootstrap.css" %} rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href={% static "css/app.css" %} rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href={% static "img/favicon.ico" %} type="image/x-icon">
  <link rel="icon" href={% static "img/favicon.ico" %} type="image/x-icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="logo-img-navbar" src={% static "img/logo.png" %}></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" id="email-dropdown">
              <!-- Placeholder for email -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Account</a></li>
              <li class="divider"></li>
              <li><a href="#" class="logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="/page_views/">Back</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Create new site</h1>
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label class="col-md-1 control-label" for="site-name">Site name</label>
              <div class="col-md-4">
                <input id="site-name" name="site-name" type="text" placeholder="enter site name" class="form-control input-md" required="">
              </div>
              <div class="col-md-1">
                <button id="create-site" name="create-site" class="btn btn-primary">Create</button>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="col-md-11">
          <textarea readonly class="form-control" id="site-tag" name="site-tag" rows="11"></textarea>
        </div>
      </div>
    </div>
  </div>

  <script data-main={% static "js/common.js" %} src={% static "js/lib/require.js" %}></script>
  <script>
  require(['common'], function() {
    require(['page/createsite']);
  })
  </script>
  <script type="text/javascript">
  tracker = {accountId: 'edbdf639f813482c986e2c4a536ec3fb', siteId: '627ebf16104240b28c8f2e25ed436655'};
  (function () {
    var t = document.createElement('script');
    t.type = 'text/javascript';
    t.async = true;
    t.src = 'http://ec2-54-172-75-176.compute-1.amazonaws.com/static/js/tracker.js';
    var a = document.getElementsByTagName('script')[0];
    a.parentNode.insertBefore(t, a);
  } ());
  </script>
</body>
</html>
